@{
  Layout = "_Layout";
}

@using System.Security.Claims;
@using Bakery.Models;
@model IEnumerable<Bakery.Models.Treat>
<h1>Treats</h1>

<h2>Here is the list of treats, @User.Identity.Name</h2>
<hr />
@if (Model.Any())
{
    <ul>
        @foreach (Treat treat in Model)
        {
            <li>@Html.ActionLink($"{treat.Description}", "Details", new { id = treat.TreatId})</li>
        }
    </ul>
}
else
{
    <p>No treats have been added yet!</p>
}

<p>@Html.ActionLink("Add new treat", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>